#### 1. Create a tuple called data with two values, (1, 2) and (3, 4)

In [1]:
data = ((1,2),(3,4))

In [3]:
type(data)

tuple

#### 2. Create the list [4, 3, 2, 1] and assign it to variable numbers.

In [9]:
sample_list=[4,3,2,1]
sample_list

[4, 3, 2, 1]

#### 3. Create a copy of the number list using [:]

In [10]:
copy_list= sample_list[:]
copy_list

[4, 3, 2, 1]

##### 4. Sort the numbers list in numerical order

In [14]:
sample_list.sort()
sample_list

[1, 2, 3, 4]

##### 5. Create a tuple "cardinal_numbers" with "first", "second" and "third"

In [19]:
cardinal_numbers = ("first","second","third")

#### 6. Display the second object in the tuple

In [24]:
cardinal_numbers[1]

'second'

#### 7. Unpack the tuple into three strings and display them

In [27]:
for i in cardinal_numbers:
    print(i)

first
second
third

#### 8. Create a tuple containing the letters of your name from a string

In [28]:
my_name=("R","U","B","A","L")

In [29]:
type(my_name)

tuple

##### 9. Check whether or not x is in my_name

In [31]:
"X" in my_name

False

##### 10. Check whether or not s is in my_name

In [32]:
"S" in my_name

False