In [2]:
print("Hello World")

Hello World

In [3]:
print("My name is Latha")

My name is Latha

## print("Hello Sakshi")

# print("Hello Sakshi")

##### print("Hello Sakshi")

### hello hello

##sjfbsbjvbh

##Hello Hello

#####hello

######hello

#######Hello Hello

########sjfhsfkjbhfkj

## Variables

In [11]:
name = "Rubal", "Sahil"

In [13]:
type(name)

tuple

 print("Hello Sakshi")

In [16]:
name list = "Rubal", "Sahil"

SyntaxError: invalid syntax (3624991053.py, line 1)

## Space is not allowed

In [14]:
## Space is not allowed

## Variable name should not start with number

In [17]:
2nameslist = "Rubal", "Sahil"

SyntaxError: invalid decimal literal (1926629624.py, line 1)

In [18]:
nameslist = "Rubal", "Sahil"

In [19]:
names2list = "Rubal", "Sahil"

In [20]:
_name_list= "Rubal"

In [21]:
name_2_list="Rubal"

## Lists

# Tuple

##### 1) Container Object
#### 2) Hetergenous -> Allows multiple data types
#### 3) Can have duplicates
#### 4) Immutable
#### 5) Elements are sepearted by comma, enclosed in paranthesis or without any brackets

In [22]:
Sample_tuple = (1,6,2.3,"hi")

In [23]:
sample_tuple2= 1,6,5,7.5,"hi"

In [24]:
type(sample_tuple2)

tuple

In [29]:
Sample_tuple[1]

6

In [30]:
Sample_tuple[10]

IndexError: tuple index out of range

In [31]:
Sample_tuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [33]:
sorted(Sample_tuple)

TypeError: '<' not supported between instances of 'str' and 'float'

In [34]:
Sample_tuple = (1,6,2.3,65)

In [35]:
sorted(Sample_tuple)

[1, 2.3, 6, 65]

In [38]:
sorted(Sample_tuple, reverse=True)

[65, 6, 2.3, 1]

In [40]:
n=2
rep_tuple= Sample_tuple*n
rep_tuple

(1, 6, 2.3, 65, 1, 6, 2.3, 65)

In [41]:
sample_tup1=(2,5,67,34)
sample_tup2=(5,8,12,32,12,55)
sam = sample_tup1+sample_tup2
sam

(2, 5, 67, 34, 5, 8, 12, 32, 12)

In [42]:
print(2 in sample_tup1)

True

In [43]:
print(10 in sample_tup1)

False

In [44]:
print(10 not in sample_tup1) ## membership operators

True

In [45]:
Tools=["Python", "R", "Excel"]
for every_tool in Tools:
    print(every_tool)

Python
R
Excel

In [46]:
## How many elements are there in tools
len(Tools)

3

In [47]:
Prices =[100, 200,213,132,167,789]
max(Prices)

789

In [48]:
min(Prices)

100

In [50]:
Prices =(100, 200,213,132,167,789,"hi")
max(Prices)

TypeError: '>' not supported between instances of 'str' and 'int'

In [51]:
Prices.append(50)

AttributeError: 'tuple' object has no attribute 'append'

In [52]:
Prices

(100, 200, 213, 132, 167, 789, 'hi')

In [53]:
Prices.append(50)

AttributeError: 'tuple' object has no attribute 'append'

In [54]:
Prices=(100, 200, 213, 132, 167, 789, [1,2,3])
Prices.append(50)

AttributeError: 'tuple' object has no attribute 'append'

In [55]:
Prices[6].append(50)

In [56]:
Prices

(100, 200, 213, 132, 167, 789, [1, 2, 3, 50])

In [57]:
Prices[0:3] ##0,1,2

(100, 200, 213)

In [ ]:
### Tuple property that is not discuused

In [58]:
Prices.index(100)

0

In [59]:
Prices.count(200)

1

### Dictionary

##### 1) Key-value pair
##### 2) {}
##### 3) Indexing - Square bracket
##### 4) Mutable

In [60]:
dict= {'name':"arun","hobbies":["painting", "singing"], 1:23}
dict

{'name': 'arun', 'hobbies': ['painting', 'singing'], 1: 23}

In [61]:
dict[keys]

NameError: name 'keys' is not defined

In [62]:
dict.keys()

dict_keys(['name', 'hobbies', 1])

In [63]:
dict[values]

NameError: name 'values' is not defined

In [64]:
dict.values()

dict_values(['arun', ['painting', 'singing'], 23])

In [65]:
dict['name']="Mukund"

In [66]:
dict

{'name': 'Mukund', 'hobbies': ['painting', 'singing'], 1: 23}

In [67]:
del dict["name"]

In [69]:
dict

{'hobbies': ['painting', 'singing'], 1: 23}

In [74]:
## Add a new key-value
dict.update({"name":"Rubal"})

In [75]:
len(dict)

3

In [76]:
type(dict)

dict

In [77]:
dict.items()

dict_items([('hobbies', ['painting', 'singing']), (1, 23), ('name', 'Rubal')])

In [78]:
dict.get("hobbies")

['painting', 'singing']

In [79]:
dict.update({"class":"ds"})

In [80]:
dict.get("class")

'ds'

In [ ]:
#### Sets
### 1) Don't allow duplicates

In [83]:

sample_set={1,2,3,4,5,6,1,13.4,9.6,"hi","hello"}

In [82]:
sample_set

{1, 13.4, 2, 3, 4, 5, 6, 9.6, 'hello', 'hi'}

In [84]:
sample_set

{1, 13.4, 2, 3, 4, 5, 6, 9.6, 'hello', 'hi'}

In [85]:
sample_set

{1, 13.4, 2, 3, 4, 5, 6, 9.6, 'hello', 'hi'}

In [86]:
sample_set={1,2,3,4,5,6,1,13.4,9.6,"hi","hello",11.5,-1,23.5}

In [87]:
sample_set ## It is getting ordered according to first value

{-1, 1, 11.5, 13.4, 2, 23.5, 3, 4, 5, 6, 9.6, 'hello', 'hi'}

In [88]:
sample_set[0]

TypeError: 'set' object is not subscriptable

In [89]:
sample_set.add(100)

In [90]:
sample_set

{-1, 1, 100, 11.5, 13.4, 2, 23.5, 3, 4, 5, 6, 9.6, 'hello', 'hi'}

In [91]:
sample_set.remove(-1)

In [92]:
sample_set

{1, 100, 11.5, 13.4, 2, 23.5, 3, 4, 5, 6, 9.6, 'hello', 'hi'}

#### Set dows not allow duplicates
#### We cannot retrive the set using index
#### Set is mutable
#### Set has {}
#### Ordered according to first-place digit

In [94]:
sample_set = {1, 100, 11.5, 13.4, 2, 23.5, 3, 4, 5, 6, 9.6}

In [96]:
sorted(sample_set, reverse=True)

[100, 23.5, 13.4, 11.5, 9.6, 6, 5, 4, 3, 2, 1]

In [102]:
num=10
i=1
addition=0

while(i<=num):
    addition=addition+i
    i=i+1
    
print("Addition is",addition)

Addition is 55

In [106]:
num=range(1,11)
addition=0
for i in num:
    addition=addition+i
    
print("Addition is",addition)

Addition is 55

In [107]:
text="Knowledge"
for letter in text:
    if letter=="h":
        break
    print(letter)
print("The for loop stopped executing")

K
n
o
w
l
e
d
g
e
The for loop stopped executing

In [109]:
text="Rubal Bansal"
for letter in text:
    if letter==" ":
        print("The loop skipped space")
        continue
    print(letter)

R
u
b
a
l
The loop skipped space
B
a
n
s
a
l

In [110]:
levels=int(input("Enter number of levels:"))
for level in range(1, levels+1):
    for num in range(level):
        print(level,end=" ")
        
    print("\n")

Enter number of levels:5
1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [1]:
levels=int(input("Enter number of levels:"))
for level in range(1, levels+1):
    for num in range(level):
        print(level,end=" ")
        
    print("\n")

Enter number of levels:5
1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [114]:
levels=int(input("Enter number of levels:"))
for level in range(1, levels+1):
    for num in range(level):
        print("*",end=" ")
        
    print("\n")

Enter number of levels:5
*

* *

* * *

* * * *

* * * * *

In [2]:
name= "Rubal"
name="Sahil"
print(name)

Sahil

In [5]:
x=y=z=10
print(z)

10

In [6]:
x,y,z=1,2,3
print(x)
print(y)
print(z)

1
2
3

y=true
print(y)

### Python is case sensitive

In [7]:
y="True"
type(y)

str

### Implicit conversion - data type is converted automatically by Python without user's intervention

In [8]:
x=10
y=2
x/y ## output is float data type. This is implicit conversion

5.0

In [10]:
x=10.5
y="10"
x+int(y) ### Explicit conversion as data type is converetd by programmer

20.5

In [11]:
x=10
float(x) ## integer to float

10.0

In [14]:
x=10
x=str(x)

In [15]:
type(x)

str

In [16]:
x=10.0
print(int(x))

10

In [19]:
x=10.0
str(x)  ### Float is not getting converted into string

'10.0'

In [18]:
x="10"
print(str(10))

10